name: Multi-Platform Workflow

on:
  pull_request:
    branches: [ "main" ]

jobs:
  ubuntu-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "Hello from Ubuntu"

  windows-job:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "Hello from Windows"

  macos-job:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "Hello from macOS"
